.app-title {
    font-size: 16px;
    color: #b94e7e;
    font-weight: 500;
}
.noInfoClass {
    font-size: 12px;
    color: #2c1332;
    margin-top: 10px;
}
a.dealLinkClassNotification {
    font-size: 12px;
}
a.nameLinkClassNotification {
    font-size: 12px;
}
.customerNameNotificationClass {
    padding-top: 10px;
    padding-bottom: 10px;
}
.headerName {
    font-size: 10px;
    color: #808080;
}
.headerName .fullName {
    font-size: 12px;
    color: #2c1332;
}
.customerDealNotificationClass {
    padding-top: 10px;
    padding-bottom: 10px;
}
.latestDealHeader {
    font-size: 10px;
    color: #808080;
}
.latestDealHeader .dealIdLatest {
    font-size: 12px;
    color: #2c1332;
}
