.appName {
    font-size: 16px;
    font-weight: 500;
    color: #2c1332;
}
.activityLinkClass {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #2c1332;
}
.calendarLinkClass {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #2c1332;
}
a.calendarTextLinkClass {
    font-size: 14px;
}
a.activityTextLinkClass {
    font-size: 14px;
}
a.dealLinkClass {
    font-size: 14px;
}
a.nameLinkClass {
    font-size: 14px;
}
.headerName {
    font-size: 12px;
    color: #808080;
    /* font-weight: 400; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.dealValueHeader {
    font-size: 12px;
    color: #808080;
    /* font-weight: 400; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.dealValueHeader .dealValue {
    font-size: 14px;
    /* padding-bottom: 10px; */
    color: #2c1332;
}
.headerCompanyName {
    font-size: 12px;
    color: #808080;
    /* font-weight: 400; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.headerCompanyName .companyName {
    font-size: 14px;
    /* padding-bottom: 10px; */
    color: #2c1332;
}
.headerName .fullName {
    font-size: 14px;
    /* padding-bottom: 10px; */
    color: #2c1332;
}
.latestDealHeader {
    font-size: 12px;
    color: #808080;
    /* font-weight: 400; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.latestDealHeader .dealIdLatest {
    font-size: 14px;
    /* padding-bottom: 10px; */
    color: #2c1332;
}
input#phoneId {
    background-color: white;
}
.addButton {
    text-align: center;
    border: none;
    background-color: white;
    border-color: #d7dadb;
    color: #425aa9;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.addButton:hover {
    cursor: pointer;
    text-decoration: none;
}
img.addButtonImg {
    height: 0.8em;
    width: 0.8em;
    margin-right: 5px;
}
.contactInfo {
    padding: 10px 0px;
    margin: 50px auto 0;
    text-align: center;
}
input[type='text'] {
    width: 100%;
    padding: 5px 0 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: none;
    color: #afafaf;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f2f2f2;
}
input[type='number'] {
    width: 100%;
    padding: 4px 8px;
    font-size: 12px;
    color: #afafaf;
    margin-bottom: 8px;
    margin-top: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type='email'] {
    width: 100%;
    padding: 5px 0 10px 0;
    font-size: 14px;
    color: #afafaf;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f2f2f2;
}
#formSubmitId {
    border: none;
    padding: 10px 0;
    width: 100%;
    background-color: #cc4783;
    border: 1px solid #e0e0e0;
    position: relative;
}
button#formSubmitId:hover {
    background-color: #bd5081;
}
#submitTextId {
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
}

.loader {
    margin: 0 auto;
}
input[type='number']:focus {
    font-size: 14px;
    outline: none;
    color: #321417;
}
input[type='text']:focus {
    font-size: 14px;
    outline: none;
    color: #321417;
}
input[type='email']:focus {
    font-size: 14 px;
    outline: none;
    color: #321417;
}
.formBody {
    background-color: #ffffff;
    margin-top: 10px;
}
label {
    font-size: 10px;
    color: #808080;
}
.formHeader {
    font-size: 16px;
    color: #2d1133;
    margin: 0 -16px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
    margin-bottom: 20px;
}
form .required-sign {
    color: #cc4783;
}

div.newContactMessageId {
    display: none;
    margin-top: 20px;
}
.newContactMessageId .message {
    margin: 0 auto;
    color: #321417;
    font-size: 16px;
}
.formRowClass {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formRowClass span:first-child {
    font-size: 10px;
    color: #808080;
}
.formRowClass span:last-child {
    font-size: 14px;
    color: #321417;
}
#formErrorId {
    color: red;
}
.phoneInputContainer {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px;
}
.phoneInputContainer input[type='text'] {
    width: 85%;
    border-bottom: none;
    margin-bottom: 0px;
}

/* css loader */
.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #b1b1b2;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.errorHeader {
    font-size: 12px;
    color: #2c1332;
    margin-bottom: 8px;
}
.errorMessageHeader {
    font-size: 12px;
    color: #afafaf;
    margin-bottom: 4px;
}
.errorMessageBody {
    font-size: 14px;
    color: #2c1332;
    margin-bottom: 8px;
}
.errorDetailsHeader {
    font-size: 12px;
    color: #afafaf;
    margin-bottom: 4px;
}
.errorDetailsBody {
    font-size: 14px;
    color: #2c1332;
    padding: 2px;
}
